table {
  width: 100%;
  
}

th{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
  background-color: rgb(30, 101, 255);
}
td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: rgb(3, 3, 3);
  background-color: rgb(222, 228, 233);
}
.button {
  display: inline-block;
  padding: 10px;
  background-color: rgb(30, 101, 255);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(0, 71, 179);
}

.button-container {
  padding: 30px;
  color: white;
}

.button1 {
  display: inline-block;
  padding: 10px;
  background-color: rgb(30, 101, 255);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  color: white;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none; /* Add underline to the link */
  cursor: pointer;
}

.button1:hover {
  background-color: rgb(0, 71, 179);
}
.action-button {
  padding: 10px;
  background-color: rgb(30, 101, 255);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  color: white;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Adds space to the right of the button */
}

.action-button:hover {
  background-color: rgb(0, 71, 179);
}

.column {
  background-color: rgb(30, 101, 255);
  border: 3px;
  border-color: rgb(255, 255, 255);
}